<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>herd page</title>
</head>

<body>
  <div id="app"></div>
<script type="text/javascript" src="/assets/scripts/app.js?213e3cbe1c0fcc0536b2"></script></body>
</html>
